# CPU
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y

# SPI RAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MODE_OCT=y

# Partition Table
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# Flash
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# PCLK frequency optimizations when Frame Buffer is allocated from the PSRAM and fetched by EDMA
# Refer to https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-reference/peripherals/lcd.html#bounce-buffer-with-single-psram-frame-buffer
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

# LVGL
CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEMCPY_MEMSET_STD=y
CONFIG_LV_ATTRIBUTE_FAST_MEM_USE_IRAM=y
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_COLOR_DEPTH_16=y

# LVGL Fonts
CONFIG_LV_FONT_MONTSERRAT_20=y

# Either set CONFIG_LV_USE_DEMO_BENCHMARK or CONFIG_LV_USE_DEMO_STRESS to y
# Commenting out both will display my example
# CONFIG_LV_USE_DEMO_BENCHMARK=y
# CONFIG_LV_USE_DEMO_STRESS=y